asgiref==3.12.1
boto3==1.43.109
botocore==1.43.109
crispy-bootstrap5==2026.3
dj-database-url==3.1.2
Django==5.0.6
django-crispy-forms==2.5
django-storages==1.14.6
gunicorn==26.2.0
jmespath==1.1.0
pillow==12.3.0
psycopg2-binary==2.9.13
python-dateutil==2.9.0.post0
python-decouple==3.8
s3transfer==0.19.2
six==1.17.0
sqlparse==0.6.0
tzdata==2026.4
urllib3==2.8.0
whitenoise==6.12.0
